<div class="container mt-5 text-left">
  <table class="table w-full">
    <thead class="border-b border-gray-300">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users(); track $index) {
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td class="space-x-1 flex py-1">
          <button
            class="flex items-center justify-center space-x-1 bg-blue-500 text-white rounded pl-1 pr-3 py-1 hover:bg-blue-700"
            (click)="editUser(user)"
          >
            <mat-icon
              fontIcon="edit"
              class="leading-none text-[20px]"
            ></mat-icon>
            <span>Edit</span>
          </button>
          <button
            class="flex items-center justify-center space-x-1 bg-red-500 text-white rounded pl-1 pr-3 py-1 hover:bg-red-700"
            (click)="deleteUser(user)"
          >
            <mat-icon
              fontIcon="delete"
              class="leading-none text-[20px]"
            ></mat-icon>
            <span>Delete</span>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
