<nav class="bg-blue-950">
  <div class="mx-auto">
    <div class="flex h-12">
      <div class="flex w-1/12 items-center">
        <a routerLink="/home" class="text-white px-4 cursor-pointer">Logo</a>
      </div>
      <div class="flex w-9/12 items-center">
        <a routerLink="/home" class="text-white px-4 cursor-pointer">Home</a>
        <a routerLink="/about" class="text-white px-4 cursor-pointer">About</a>
        <a routerLink="/contact" class="text-white px-4 cursor-pointer"
          >Contact</a
        >
      </div>
      <div class="flex w-2/12 items-center justify-end">
        <a routerLink="/login" class="text-white px-4 cursor-pointer">Login</a>
        <a routerLink="/register" class="text-white px-4 cursor-pointer"
          >Register</a
        >
      </div>
    </div>
  </div>
</nav>
