<div class="flex flex-col h-screen">
  <app-navbar></app-navbar>
  <div class="w-full grow flex">
    <div
      class="relative"
      [ngClass]="{ 'w-64': sidebarOpen(), 'w-10': !sidebarOpen() }"
    >
      <app-sidebar></app-sidebar>
      <div
        class="w-5 h-10 rounded bg-red-600 absolute top-1/2 -right-2 hover:bg-red-900 cursor-pointer text-white flex justify-center items-center transition-all duration-300"
        (click)="toogleSideBar()"
        [ngClass]="{ 'pl-0.5': sidebarOpen(), 'pr-0.5': !sidebarOpen() }"
      >
        @if(sidebarOpen()){
        <mat-icon>arrow_back_ios</mat-icon>
        } @else {
        <mat-icon>arrow_forward_ios</mat-icon>
        }
      </div>
    </div>
    <div class="grow">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
