<div class="flex flex-col h-screen">
  <app-navbar></app-navbar>
  <div class="w-full grow flex">
    <div
      class="relative"
      [ngClass]="{ 'w-64': sidebarOpen(), 'w-10': !sidebarOpen() }"
    >
      <app-sidebar></app-sidebar>
      <button
        mat-fab
        class="!absolute !w-7 top-1/2 -right-3 !bg-red-600 !text-white !rounded-full !hover:bg-red-900 !cursor-pointer !transition-all !duration-300 justify-center items-center"
        (click)="toogleSideBar()"
        [ngClass]="{ '!pl-1.5': sidebarOpen() }"
      >
        @if(sidebarOpen()){
        <mat-icon>arrow_back_ios</mat-icon>
        } @else {
        <mat-icon>arrow_forward_ios</mat-icon>
        }
      </button>
    </div>
    <div class="grow">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
